body {
	height: 100%;
	width: 100%;
}
main {
	height: 100%;
	width: 100%;
}

#rocket {
	display: none;
}
#rocket-mask {
	display: block;
}

.rocket {
	position: absolute;
	bottom: 0;
	height: 500px;
	width: 300px;
	left: calc(50% - 300px);

	background: url('rocket.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

.rocket.launchRocket {
	/* animation code */
	-webkit-animation: floatBubble 2s infinite  normal ease-out;
    animation: floatBubble 2s infinite  normal ease-out;
}

@-webkit-keyframes floatBubble {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
}
@keyframes floatBubble {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
}
